* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.button-container {
    display: flex;
    flex-direction: column;
    /* Cambiado a columna para permitir más espacio */
    gap: 20px;
    /* Espacio entre los botones */
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}