body {
  font-family:'Poppins' , sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

.textoArriba {
  margin-bottom: 20px;
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btnsearch {
  background-color:#6a1b9a;
  color: white;
  border: none;
  border-radius:5px;
  padding:10px 15px;
  cursor:pointer ;
  transition:background-color 0.3s;
}

.btnsearch:hover {
  background-color: #4a0072;
}

.input-search {
  padding: 10px ;
  margin-left:10px;
  border: 1px solid #ccc;
  border-radius:5px;
  width: 250px ;
}

.card {
  background-color: #f8f8f8;
  border:1px solid #ccc;
  border-radius : 8px;
  padding: 20px ;
  margin: 15px;
  box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px ;
  height:250px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.card h2 {
  margin:0;
  font-size: 1.5em ;

}

.card p {
  margin : 5px 0;

}


.btnSee {
  background-color:#6a1b9a;
  color: white;
  padding:10px 15px;
  border:none;
  border-radius: 5px ;
  cursor: pointer;
  transition :background-color 0.3s, transform 0.2s ;
  text-align: center;
  display : block;
  margin:10px auto;
  text-decoration:none;
  width: 100% ;
  max-width: 200px;

}

.botSee:hover {
  background-color:#4a0072;
  transform: scale(1.05) ;


}