.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.user-info,
.calendarios,
.contactos,
.archivos {
  margin-bottom: 40px;
}
.user-info h2,
.calendarios h2,
.contactos h2,
.archivos h2 {
  margin-bottom: 10px;
}
.calendario,
.contacto,
.archivo {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.calendario h3,
.contacto p,
.archivo p {
  margin: 0;
}
.user-info img {
  border-radius: 50%;
  max-width: 150px;
}
