body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;

}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    align-self: flex-start;
    margin: 5px 0;
}


input:focus {
    border-color: #6a1b9a;
    outline: none;
}

.botones-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;



}

.botonlindo {
    background-color: #6a1b9a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    text-align: center;

}


.botonlindo:hover {
    background-color: #4a0072;

}